.ProfilePage {
    display: block;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 20px;
    min-height: 85vh;
}
.slide{
    width: 400px;
}
.box-content-profile{
    display: flex;
}